/* stylesheet.css */
body {
    font-family: 'Open Sans', sans-serif; /* Utiliza la fuente Open Sans */
    font-size: medium; /* Tamaño de fuente medio */
    color: chocolate; /* Opcion de Color de la Letra */
}

.container {
    border: 2px solid #1e90ff; /* Borde alrededor del contenedor con color azul intenso */
    padding: 20px; /* Espaciado interno del contenedor */
}

iframe {
    border: none; /* Elimina el borde predeterminado del iframe */
    width: 100%; /* Ancho del iframe al 100% del contenedor */
    height: 100%; /* Altura del iframe al 100% del contenedor */
}

h1 {
    font-style: italic; /* Hace que el texto del título sea cursiva */
}

p {
    font-family: 'Open Sans', sans-serif; /* Utiliza la fuente Open Sans */
    font-size: medium; /* Tamaño de fuente medio */
    font-style: italic; /* Hace que el texto del título sea cursiva */
    color: chocolate;  /* Opcion de Color de la Letra */
}
